##############################################################
# User configurations.
#
# - Lines started with "#" and empty lines are ignored.
# - For ticketDate: if not included, default is tomorrow.
# - Card type can be:
#   VISA, MAST (Master), DISC (Discover/JCB/UnionPay), AMEX (American Express)
#
###############################################################

user = username
pass = password
ticketNum = 1
# if ticketDate is empty, will use tomorrow as default.
#ticketDate = Tue Apr 21 2015
cardNumber = 0000000000000000
securityCode = 000
expMonth = 01
expYear = 2016
firstName = first_name
lastName = last_name
cardType = VISA
tourId = 317399
